body {
  background: rgb(0, 0, 177);
  display: flex;
  font-family: 'URW Chancery L', cursive;
  justify-content: center;
}

html {
  overflow: hidden;
}

h1 {
  font-size: 8vh;
  margin: 0;
}

h2 {
  font-size: 5vh;
  margin: 0;
}

img {
  height: 100vh;
  transition: all .2s ease-in-out;
  width: 291px;
}

ul {
  list-style-type: none;
}

img:hover {
  transform: scale(1.1)
}

a:link {
  color: yellow;
}

a:visited {
  color: yellow;
}

.empty {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid2 {
  color: yellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.heading {
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.photoHolder {
  display: flex;
  flex: 1;
  height: 697px;
  margin: auto;
  transition: all .2s ease-in-out;
  width: 582px;
}

.projectContent {
  display: none;
}

.text {
  background: rgb(0, 0, 177);
  color: white;
  flex: 1 0 auto;
  font-size: 80px;
  height: 100vh;
  float: left;
  padding-left: 20px;
  width: calc(100vw - 291px);
}

.textSmall {
  background: rgb(0, 0, 177);
  color: white;
  display: fixed;
  left: 0;
  font-size: 60px;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  left: 0;
  padding-left: 20px;
  min-width: calc(100vw - 291px);
}

#subtitle {
  color: white;
  text-align: center;
}

#title {
  color: white;
  text-align: center;
}